html {
  background: linear-gradient(-45deg, #8fbe63, #e73c7e, #8db667, #77aa9e);
}

.App {
  text-align: center;
}

.header {
  font-size: 2.4em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 0em;
  margin-top: 0em;
  padding: 0.4em;
}

.prompt {
  margin: 0.5em 0.5em 0.5em 0.5em;
  font-size: 1.1em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(170, 174, 226);
}

.newsCard {
  border: solid;
  margin: 1% 10% 2% 10%;
  padding: 1em;
  background-color: rgb(170, 174, 226);
}  

@media (max-width: 380px) {
  .newsCard {
    max-width: 100%;
    font-size: 0.8em;
    margin: 1em;
    padding: 1em;
  }  
}

.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.description {
  font-family: 'Times New Roman', Times, serif;
  padding: 1% 10% 1% 10%;
  margin-bottom: 1%;
}

.link:hover {
  font-size: 1.04em;
  font-weight: 600;
}

.cardImage {
  max-width: 70%;
}
@media (min-width: 500px) {
  #instructions {
    background-color: rgb(50, 104, 77);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 500px) {
  #instructions {
    padding-bottom: 0.5em;
  }
}

#instructions {
  background-color: rgb(50, 104, 77);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.2em;
}

.sticky + .content {
  padding-top: 60px;
}

#myTopic {
  font-size: 1em;
  margin-right: 1em;
}

#myDate {
  font-size: 1em;
  margin-right: 1em;
}

#myBtn {
  font-size: 1em;
  margin-right: 1em;
}

.published {
  font-size: 0.7em;
}